@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Domine:wght@400;500;600;700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/*Globals Style*/
.word-type::after {
  content: " ";
  height: 0.1rem;
  width: 60%;
  display: inline-block;
  margin-bottom: 0.15rem;
  margin-left: 0.6rem;
  @apply bg-gray-400;
}

/* Font Family */
.poppins {
  font-family: "Poppins", sans-serif;
}
.roboto {
  font-family: "Roboto", sans-serif;
}
.montserrat {
  font-family: "Montserrat", sans-serif;
}
.domine {
  font-family: "Domine", serif;
}
.merriweather {
  font-family: "Merriweather", serif;
}
.arvo {
  font-family: "Arvo", serif;
}
/* Light Theme */

.theme-light {
  @apply bg-gray-100 text-gray-900;
}
/* Dark Theme */

.theme-dark {
  @apply bg-gray-900 text-gray-100;
}
